################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MR2018/v15/Browse.VC.db
/Maxim/.vs/Project1/v15/Browse.VC.opendb
