.idea/
cmake-build-debug/
5555
AndreyCH
Elizaveta
Maxim
Nanahov
NikitaKhalyavin
Schebnev
Sibiryakov.va
VladBurin
Vlbager
VolkAl
komarov.ae
ksenya
kurshakov.ga
librarypk
marias
shayahmetov.rh
.idea
vorobieva.vb
zamorin.ns